// ==========================================================================
// Medium Grid
// ==========================================================================

$md-gutter: 10px; // Grid padding or gutter
$sm-gutter: $md-gutter; // Allows for thinner SM gutter
$xs-gutter: $md-gutter; // Allows for thinner XS gutter
$vertical-gutter: true; // Allow a top/bottom gutter
$gd-column-total: 12; // Total number columns available

.gd-md {
	@extend .gd-cf;
	padding: 0 $xs-gutter;

	@include bp(sm) {
		padding: 0 $sm-gutter;
	}

	@include bp(md) {
		padding: 0 $md-gutter;
	}

	.gd-row {
		@extend .gd-cf;
		margin-left: -$xs-gutter;
		margin-right: -$xs-gutter;

		@include bp(sm) {
			margin-left: -$sm-gutter;
			margin-right: -$sm-gutter;
		}

		@include bp(md) {
			margin-left: -$md-gutter;
			margin-right: -$md-gutter;
		}

		& > .gd-cell {
			@include box-sizing(border-box);
			float: left;
			padding-left: $xs-gutter;
			padding-right: $xs-gutter;

			@if $vertical-gutter == true {
				margin-top: $xs-gutter;
				margin-bottom: $xs-gutter;
			}

			@include bp(sm) {
				padding-left: $sm-gutter;
				padding-right: $sm-gutter;

				@if $vertical-gutter == true {
					margin-top: $sm-gutter;
					margin-bottom: $sm-gutter;
				}
			}

			@include bp(md) {
				padding-left: $md-gutter;
				padding-right: $md-gutter;

				@if $vertical-gutter == true {
					margin-top: $md-gutter;
					margin-bottom: $md-gutter;
				}
			}
		}
	}
}


	@for $i from 2 through $gd-column-total {
		$gd-columns: $i;

		.gd-md--#{$i}col {
			& > .gd-row > .gd-cell {
				width: 100%;

				@include bp(md) {
					width: 100% / $gd-columns;
				}
			}

			@for $i from 2 through $gd-columns {
				& > .gd-row > .gd-cell--#{$i}col {
					width: 100%;

					@include bp(md) {
						width: grid-cell-width($gd-columns, $i);
					}
				}
			}
		}
	} // @for