$padding: 10px;

.grid-md {
	margin-right: auto;
	margin-left: auto;
	padding-left: $padding;
	padding-right: $padding;

	@media only screen and (min-width: $bp-tablet-width) {
		padding-left: $padding;
		padding-right: $padding;
	}

	@media only screen and (min-width: $bp-desktop-width) {
		padding-left: 0;
		padding-right: 0;
	}

	// Clearfix
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

	.grid-md__row {
		margin-left: -$padding;
		margin-right: -$padding;
		margin-top: $padding;
		margin-bottom: $padding;

		@media only screen and (min-width: $bp-tablet-width) {
			margin-left: 0;
			margin-right: 0;
			margin-top: $padding * 2;
			margin-bottom: $padding * 2;
		}

		@media only screen and (min-width: $bp-desktop-width) {
			margin-left: -$padding;
			margin-right: -$padding;
		}
	}

		.grid-md__cell {
			@include box-sizing(border-box);
			float: left;
			padding-left: $padding;
			padding-right: $padding;

			margin-top: 10px; //temp
			margin-bottom: 10px; //temp

			@media only screen and (min-width: $bp-tablet-width) {
				margin-top: $padding;
				margin-bottom: $padding;

				padding-left: $padding;
				padding-right: $padding;
			}

			@media only screen and (min-width: $bp-desktop-width) {
				padding-left: $padding;
				padding-right: $padding;
			}
		}

	.grid-md--2col {
		.grid-md__cell {
			width: 100%;

			@media only screen and (min-width: $bp-tablet-width) {
				width: 50%;
			}
		}
		
		.grid-md__cell--2col {
			width: 100%;
		}
	}

	// 3 Col for medium browsers
	.grid-md--3col {
		.grid-md__cell {
			width: 100%;

			@media only screen and (min-width: $bp-tablet-width) {
				width: 33.33333333333333%;
			}
		}

		.grid-md__cell--2col {
			width: 100%;
		}
	}

	// 4 Col for medium browsers
	.grid-md--4col {
		.grid-md__cell {
			width: 100%;

			@media only screen and (min-width: $bp-tablet-width) {
				width: 25%;
			}
		}

		.grid-md__cell--2col {
			width: 100%;

			@media only screen and (min-width: $bp-tablet-width) {
				width: 66.66666666666666%;
			}

			@media only screen and (min-width: $bp-desktop-width) {
				width: 50%;
			}
		}
	}

	.grid-md__row--no-margin {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -($padding * 2);
		margin-right: -($padding * 2);
		
		@media only screen and (min-width: $bp-tablet-width) {
			margin-left: -$padding;
			margin-right: -$padding;
		}
	}