.modal {
	background-color: $dark-background-color;
	color: $dark-font-color;
	height: 240px;
	margin-left: -280px;
	margin-top: -120px;
	width: 560px;
	position: absolute;
	left: 50%;
	top: 50%;
}

	.modal__content {
		height: 160px;
		margin-top: -80px;
		margin-left: -280px;
	}

		.modal__content-wrap {
			padding: 0 25px;
		}

			.modal__content {
				max-height: 500px;
				overflow-y: scroll;
			}

			.modal__action {
				border-left: 1px solid #6f6e6e;
				cursor: pointer;
				height: 40px;
				line-height: 40px;
				text-align: center;
				width: 34px;
				position: absolute;
				top: 0;
				right: 0;

				&:hover {
					background-color: #848589;
				}

			}

			.modal__title {
				background-color: #797a7e;
				color: #fff;
				font-size: 15px;
				height: 40px;
				line-height: 40px;
				margin: 0;
				text-transform: uppercase;
			}

			.modal__footer {
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
			}

			/* BRADs Modal Animation */

			.modal {
				@include transition(0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940));
			}

			.modal.animate-in {
				@include opacity(1);
				@include transform(scale( 1 ));
			}

			.modal.animate-out {
				@include opacity(0);
				@include transform(scale( 0.88 ));
			}

			.modal.pre-animate-in {
				@include opacity(0);
				@include transform(scale( 1.2 ));
				@include transition(none);
			}