.profile {
	background-color: #fff;
	float: left;
	height: 69px;
}

	.profile__avatar-img {
		height: 69px;
		width: 69px;
	}

	.profile__details {
		padding: 6px 10px 0;
	}

		.profile__details-name {
			font-size: 12px;
			margin: 0;
			text-transform: uppercase;
		}

		.profile__details-value {
			color: $btn-background-color;
			font-size: 38px;
			font-weight: bold;
			line-height: 38px;
		}