.main-nav__list {
	border-bottom: 1px solid #525252;
}

.main-nav__list-item {
	border-left: 1px solid #3c3c3c;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 36px;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	&:hover {
		background: #222;
	}

	&:first-child {
		border-left: none;
		width: 40px;
	}

	&.is-active {
		background: $primary-purple;
	}
}

	.main-nav__icon-link {
		color: $dark-font-color;
		display: block;
		height: 36px;
		@include opacity(0.7);
		padding: 0 12px;
		text-decoration: none;

		// hover over ancestors and trigger this element
		.main-nav__list-item & {
			&:hover {
				color: #fff;
				@include opacity(1);
			}
			&.is-active {
				@include opacity(1);
			}
		}
	}

	.main-nav__icon {
		padding: 0;
		width: 39px;
	}

	.main-nav__link {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	.main-nav__sign-out {
		line-height: 37px;
	}