.main-nav__sub-nav-item {
	border-top: 1px solid #3c3c3c;
	clear: both;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-transform: uppercase;

	&:hover {
		background: #222;
		color: #fff;
		.main-nav__sub-nav-icon {
			@include opacity(1);
		}
	}

	&:first-child {
		border-top: none;
	}
}

	.main-nav__sub-nav-icon {
		line-height: 43px;
		@include opacity(0.5);
		width: 45px;
		text-align: center;
		vertical-align: middle;
	}