.admin-nav {
	background: #666;
	color: #ccc;
	font-size: 12px;
	line-height: 20px;
	padding: 5px 20px;
	text-align: right;
}

	.admin-nav__link {
		color: #fff;
		margin-left: 5px;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}