// ==========================================================================
// General site layout styles
//
// Layout styles prepended with .l for layout. This is also namespaces it
// to stop library conflicts.
// ==========================================================================

.l-container {
	margin: 0 auto;
	position: relative;

	@include bp(sm) {
		width: $bp-sm;
	}

	@include bp(md) {
		width: $bp-md;
	}

	@include bp(lg) {
		width: $bp-lg;
	}
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.l-full {
	width: 100%;
}