// ==========================================================================
// General site layout styles
// ==========================================================================

// Container
// ==========================================================================
.l-container {
	margin: 0 auto;
	position: relative;

	@include bp(sm) {
		width: $bp-sm;
	}

	@include bp(md) {
		width: $bp-md;
	}

	@include bp(lg) {
		width: $bp-lg;
	}
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}
