.header {
	width: 100%;
	position: relative;
	z-index: 1;

	@media print {
		display: none;
	}
}

	.header__widgets {
		position: relative;
	}

		.logo {
			float: left;
			text-align: center;
		}
		
			.logo__.hollard, 
			.logo__.ascend {
				float: left;
				height: 69px;
			}

			.header__icon {
				vertical-align: bottom;
			}

			.logo__hollard {
				background: #646567;
				line-height: 51px;
				width: 71px;
				margin-left: 20px;
			}

			.logo__ascend {
				background: #e5e5e5;
				line-height: 48px;
				width: 58px;
			}


		.financial-fitness {
			background: #fff;
			float: left;
			height: 69px;
			line-height: 66px;
			margin: 0 20px 0 20px;
			width: 130px;
			text-align: center;
		}
