.grid-cell {
	float: left;
}

.grid--2col {
	.grid-cell {
		margin-left: 4%;
		width: 48%;

		&:first-child, &:nth-child(2n+1) {
			margin-left: 0;
		}
	}
}

.grid--3col {
	.grid-cell {
		margin-left: 2%;
		width: 32%;

		&:first-child, &:nth-child(3n+1) {
			margin-left: 0;
		}
	}
}