// ==========================================================================
// CSS Helpers
// ==========================================================================

@import "layout/layout";
@import "layout/row";
@import "opacity";
@import "viewport";
@import "wrap";

.divider {
	@extend .l-row;
	background-color: $primary-color;
	border: none;
	height: 1px;
	padding: 0;
	width: 100%;
}

.is-hidden {
	display: none !important;
}

.is-invisible {
	visibility: hidden;
}