// ==========================================================================
// CSS Helpers
// ==========================================================================

.divider {
	@extend .l-row;
	background-color: $primary-color;
	border: none;
	height: 1px;
	padding: 0;
	width: 100%;
}

.is-hidden {
	display: none !important;
}

.is-invisible {
	visibility: hidden;
}

.cf {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
	*zoom: 1;
}

@import "layout/layout";
@import "layout/row";
@import "opacity";
@import "viewport";
@import "wrap";