.divider {
	background-color: #151515;
	border: none;
	border-top: 1px solid #000;
	height: 1px;
	margin: 8px 0;
	padding: 0;
	width: 100%;
}

.divider--light {
	background-color: #3d3d3d;
	border-top: #3d3d3d;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.row {
	margin-top: 18px;
	margin-bottom: 18px;
}

.row--small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.row--vsmall {
	margin-top: 5px;
	margin-bottom: 5px;
}

.muted {
	color: #666;
}

.is-hidden {
	display: none !important; 
}

.is-invisible {
	visibility: hidden;
}

@import "layout";
@import "grid";
@import "col";