// ==========================================================================
// General site layout styles
// ==========================================================================

// Container
// ==========================================================================
.container {
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

.container--app {
	width: 930px;
}