// ==========================================================================
// Wrap helper
// ==========================================================================

// Config list
// ==========================================================================
$size-name-list: 'xs', 'sm', 'md', 'lg';
$size-list: 5px, 10px, 20px, 30px;

// Loop
// ==========================================================================
@for $i from 1 through length($size-name-list) {
	$size-name: nth($size-name-list, $i);
	$size: nth($size-list, $i);

	.wrap-#{$size-name} {
		padding: $size;
	}

	// Default size
	@if $size-name == 'md' {
		.wrap {
			padding: $size;
		}
	}
}